/FUN_IBEA
/FUN.csv
/IBEA.eps
/ZDT1_approx.csv
/ZDT1_bad
/ZDT1_bad.csv
/output/
/experiments/
/bin/
*.class
*.DS_Store
/Cache/
/JADE_Sphere.csv
/PSOO_Sphere.csv
/PSOO_Sphere.zip
/PSOO_Sphere.txt
/PSOO.csv
/test.csv
/CRS tuning_GSAM25F1.0Cr1.0_1494572043987.txt
